<mat-form-field>
  <mat-label>Peso (kg)</mat-label>
  <mat-select [(value)]="user.weight">
    <mat-option *ngFor="let item of weight" [value]="item.value">
      {{item.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Altura (cm)</mat-label>
  <mat-select [(value)]="user.height">
    <mat-option *ngFor="let item of height" [value]="item.value">
      {{item.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Edad</mat-label>
  <mat-select [(value)]="user.age">
    <mat-option *ngFor="let item of age" [value]="item.value">
      {{item.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>cantidad de movimiento diario</mat-label>
  <mat-select [(value)]="user.fm">
    <mat-option class="mat-option2" *ngFor="let item of fm" [value]="item.value">
      {{item.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Tipo de entrenamiento</mat-label>
  <mat-select [(value)]="user.fe">
    <mat-option class="mat-option2" *ngFor="let item of fe" [value]="item.value">
      {{item.viewValue}}
      <p style="font-size: 10px;margin-top: 0px;">{{item.viewValueMin}}</p>
    </mat-option>
  </mat-select>
</mat-form-field>

<button (click)="gotoNext()">Continuar</button>