{{totalPorciones}}

<div *ngIf="porcionesComidaMod">
    <div *ngFor="let item of porcionesComidaMod; let i = index">
        <p>{{item.nameView}} - {{item.training}}  = {{item.porcionesP+item.porcionesC+item.porcionesG+item.porcionesPG}}</p>
        <p><span (click)="change(item ,'porcionesP',-1)">-</span> porcionesP = {{porcionesComida[i].porcionesP}}  = {{item.porcionesP}}   <span (click)="change(item ,'porcionesP',1)">+</span></p>
        <p><span (click)="change(item ,'porcionesC',-1)">-</span> porcionesC = {{porcionesComida[i].porcionesC}}= {{item.porcionesC}}   <span (click)="change(item ,'porcionesC',1)">+</span></p>
        <p><span (click)="change(item ,'porcionesG',-1)">-</span> porcionesG = {{porcionesComida[i].porcionesG}}  = {{item.porcionesG}}   <span (click)="change(item ,'porcionesG',1)">+</span></p>
    </div>
</div>

